*{
    margin: 0;
    padding: 0;
    font-family: 'OpenSans-Regular';;
    box-sizing: border-box;
}
div{
    display: block;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.header{
    background-color: #f8f8f8;

}
.container{
    height: 120px;
    width: 1170px;
    margin: 0 auto;
}
.header-top1{
    height: 50px;
}
.login{
    margin-top: 15px;
    float: right;
}
.login a{
    font-weight: 600;
    color: #747474;
}
.login a:hover{
    color: #994868;
}
.header-top{
    height: 100px;
}
.logo{
    float: left;
}
.logo a{
    display: block;
    font-size: 2em;
    font-family: 'Buda-Light';
    color: #994868;
    font-weight: 900;
    text-transform: capitalize;
}
.logo span{
    color: #C07C3F;
    font-size: 0.8em;
}
.top-menu{
    float: right;
    margin-top: 10px;

}
.top-menu ul li {
    float: left;
}
.top-menu ul li a{
    display: block;
    font-size: 16px;
    margin-left: 10px;
    color: #747474;
    font-weight: 600;
    text-transform: capitalize;
}
.top-menu ul li a:hover{
    color: #994868;
}
.act{
    color: #994868;
}
.content{
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
}
.welcome{
    width: 1170px;
    height: 400px;
    margin: 0 auto;
}
.con{
    margin: 0 auto;
}
h1{
    text-align: center;
    padding-top: 25px;
}
.welcome-grids{
    height: 310px;
    padding-left: 20px;
}
.welcome-grid{
    height: 300px;
    width: 350px;
    float: left;
    margin-left: 20px;
}
#ler{

    background-color: #C08CB3;
}
#ler1{
    background-color:#785C6B;
}
#ler2{
    background-color:#B38F79;
}
.ler{
    width: 50px;
    height: 50px;
    margin-top: 50px;
    margin-left: 150px;
}
.grid{
    margin-top: 20px;
     text-align: center;
    
 }
.grid a{
    color: #FFFFFF;
    font-size: 25px;
    font-weight: 500;

}
.grid p{
    margin-top: 20px;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
}
.firm{
    background-color: #994868;
}
.firm-container{
    height: 600px;
    width: 1170px;
    margin: 0 auto;
}
.img-responsive{
    height: 400px;
    width: 250px;
}
.firm-grids{
    margin-left: 30px;
    height: 484px;
    width: 1120px;
}
.firm-grid{
    height: 400px;
    width: 250px;
    float: left;
    margin-left: 20px;
    color: #FFFFFF;
}
.designer-info{
    margin-top: 20px;
    text-align: center;
}
h3{
    padding-top: 20px;
    margin-bottom: 20px;
    color: #FFFFFF;
    font-size: 26px;
    font-weight: 600;
    text-align: center;
}
.education{
    background-color: #FFFFFF;
}
.education-container{
    height: 1000px;
    width: 1170px;
    margin: 0 auto;
}
.education-grids{
    width: 1140px;
    height: 300px;
}

.education-container>h3{
    color: #000;
}

.education-left{
    height: 300px;
    width: 570px;
    float: left;
    text-align: center;
}

.education-rgt{
    height: 300px;
    width: 570px;
    float: left;
    text-align: center;
}
.education-rgt>p,.education-left>p{
    margin-top: 100px;
    margin-bottom: 20px;
    font-size: 19px;

}
.footer{
    background-color: #994868 ;
    width: 100%;
}
.footer-container{
    width: 1170px;
    height: 100px;
    margin: 0 auto;
}
.footer-container >p{
    padding-top: 40px;
    text-align: center;
    color: #FFFFFF;
}
